<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-_YfhXMAGrZwuE8kGbeszvWGfBB2p9Tw</string>
	<key>GCM_SENDER_ID</key>
	<string>273267846750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.holbegram.holbegram</string>
	<key>PROJECT_ID</key>
	<string>holbegram-2ed14</string>
	<key>STORAGE_BUCKET</key>
	<string>holbegram-2ed14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273267846750:ios:1b88e894d9db813f4e4ecf</string>
	<key>DATABASE_URL</key>
	<string>https://holbegram-2ed14-default-rtdb.firebaseio.com</string>
</dict>
</plist>